
<div id="MainPage">
<header>
  <img src="assets/gques_logo.png" alt="GQues Logo" id="logo">
</header>
<!-- <top> -->
  <nav>
      <ul>
          <li><a href="#">Dashboard</a></li>
          <li><a href="#">Users login</a></li>
          <li><a href="#">Settings</a></li>
          <li><a href="#">Reports</a></li>
          <li><a href="#">FAQ</a></li>
      </ul>
  </nav>
<!-- </top> -->
<main>
  <figure>
      <img src="https://th.bing.com/th/id/OIP.EqNo_Xwatr-16VSx7iOlcQAAAA?rs=1&pid=ImgDetMain" alt="AI Evolution">
      <figcaption>AI Evolution</figcaption>
  </figure>
  <div>
      <h2>Hello, How Can I Help You?</h2>
  </div>
  <div>
      <h2>Idea Generation</h2>
      <p>In idea generation, users can input preliminary concepts or themes, which the application processes to generate tailored research questions. This process not only accelerates the formulation of research ideas but also encourages iterative refinement and exploration based on user feedback. Ultimately, the application aims to enhance research productivity by providing researchers with a systematic approach to develop clear and focused research directions efficiently.</p>
  </div>
  <div>
      <h2>Idea Refinement</h2>
      <p>The "Idea Refinement" option, users can receive tailored feedback and suggestions based on their initial inputs. This feature guides users through a systematic analysis of their research concept, helping to clarify objectives, identify gaps, and refine the scope.</p>
  </div>
  <div>
      <h2>Basic Research</h2>
      <p>The "Basic Research" option, users can access a tailored framework that prompts them to input initial ideas or concepts. The application then applies predefined algorithms or heuristics to systematically refine these inputs into well-defined research questions.</p>
  </div>
  <!-- <button id="startButton">Start</button> -->
  <button class="start-button" (click)="startDashboard()">Start</button>
</main>
</div>


    <!-------### Bot Page Section ###-------->

    <div id="botPageSection">
    </div>


